[2022-02-08 00:22] ovaltechnologiesinc opened #352 "App breaks on iOS when I import a"
Any time I import other packages on iOS the app breaks with this error message

[code]

[2022-02-08 07:15] farfromrefug commented on #352
@ovaltechnologiesinc you need to give a little bit more details like versions and so on...

[2022-02-11 16:29] cjohn001 opened #355 "Android only: Background transparency broken after back navigation"
Hello together,
I am using ui-material-tabs. My tabs background is semitransparent to allow for the background image to shine through. See attached images. When I navigate away from the tabs page and navigate back to it, the material tabs loose the background transparency (background is white).
Version 6.2.11 of @nativescript-community/ui-material-tabs is working fine.
With version 6.2.12 and 6.2.

[2022-02-17 00:30] cjohn001 commented on #355
I was able to solve the issue. In the past I had not to set
MDTabs {
	background-color: transparent;
}

It was sufficient to have
MDTabContentItem {
	background-color: transparent;
}

Since 6.2.12 now both have to be set.

[2022-02-17 00:30] #355 closed

[2022-02-18 12:53] Bezlepkin opened #357 "[MDRipple] does not work on Android"
- @nativescript/angular: 13.0.2
- @nativescript-community/ui-material-ripple: 6.2.14

[code]

[code]

Works on iOS but doesn't work on Android...

[2022-02-18 13:51] farfromrefug commented on #357
@Bezlepkin what does not work? please a lit bit more explanation

[2022-02-18 14:26] Bezlepkin commented on #357
if i set the dimensions of the MDRipple tag, they change. There is no ripple effect and background color.

[2022-02-18 14:36] farfromrefug commented on #357
@Bezlepkin sorry but i really dont undestand. You say `they change`, what changes?.

[2022-02-18 14:46] farfromrefug commented on #357
@Bezlepkin what s your android version?

[2022-02-18 14:48] Bezlepkin commented on #357
9 (ZTE Blade A5)

[2022-02-19 10:14] Raina-Rishab commented on #13
I am not able to change the height of <MDTextView> only width is editable, I am also not getting a multi-line textview, kindly help?
the code looks like:

**package.json**
      "@nativescript-community/ui-material-core": "^6.2.14",
    "@nativescript-community/ui-material-floatingactionbutton": "^6.2.14",
    "@nativescript-community/ui-material-textview": "^6.2.14",
**component.html**

<DockLayo

[2022-02-19 11:23] Raina-Rishab commented on #179
**Getting the following exception with MDTextField**

An uncaught Exception occurred on "main" thread.
Calling js method onCreateView failed
_TypeError: Cannot read property 'TextInputEditText' of undefined_

StackTrace:
createNativeView(file:///data/data/org.nativescript.exampleapp/files/app/vendor.js:2665:80)
	at _setupUI(file:///data/data/org.nativescript.exampleapp/files/app/vendor.js:22613:31

[2022-02-21 12:22] tce-rishab opened #358 "SpeedDial implementation for ns angular not found"
SpeedDial usage for NativeScript Angular is not available? @farfromrefug , @FestplattenSchnitzel  can u provide with that implementation

**i tried like this**

`import {NativeScriptSpeedDialModule} from '@nativescript-community/ui-material-speeddial/angular';`
[code]

[code]

[2022-02-21 12:31] pitw commented on #358
Sorry - just use Vue, not Angular.
Did you try demo from https://github.com/nativescript-community/ui-material-components/tree/master/demo-ng ?

[2022-02-22 04:53] nasiriyima opened #359 "ui-material-tab not showing in Svelte Native"
### Which platform(s) does your issue occur on?
-Android
-Android versions
- emulator
### Please, provide the following version numbers that your issue occurs with:

- CLI: 8.1.5
- Cross-platform modules: 8.1.5
- Runtime(s): 8.1.1
- Plugin(s):
[code]
### Please, tell us how to recreate the issue in as much detail as possible.
1.  `npm install --save @nativescript-community/ui-material-tabs`
2.  Th

[2022-02-22 08:48] farfromrefug commented on #359
@nasiriyima the tab component might be needing a special svelte implementation.
I think it was in svelte native when tabs were actually part of N. Can you go on discord in the svelte native channel (in svelte server) to discuss this?

[2022-02-22 09:03] farfromrefug commented on #358
@FestplattenSchnitzel sorry for you being pinged ;) @Raina-Rishab i am the maintainer of this plugin. https://github.com/nativescript-community/ui-material-components/blob/master/src/speeddial/angular/index.ts seems to say it should be working. However i know nothing about angular :s Your best bet is to ask on discord in the angular channel. If someone sees the issue then a PR can be created to fi

[2022-02-22 16:02] mrzanirato opened #360 "MDTabs force fixed layout"
Hello,

I need help with MDTabs ( NS 8 )

If I add more than 4 tabs the layout change in scollable instead of fixed.

How can I force the fixed layout?

Thanks

Marco

![Simulator Screen Shot - iPhone 13 - 2022-02-22 at 17 00 33](https://user-images.githubusercontent.com/61496516/155170627-6ced6a18-6661-490e-8290-50a12b8ca3b5.png)

[2022-02-22 16:32] farfromrefug commented on #360
@mrzanirato this is how it always have been. Sorry but this wont change. you can try https://github.com/nativescript-community/ui-material-components/blob/master/packages/bottomnavigationbar/README.md

[2022-02-22 16:32] #360 closed, assigned to nobody

[2022-02-22 16:58] mrzanirato commented on #360
ok thanks.
I tried bottomnavigationbar but I don't know how to use page-router-outlet
Can you help?
Thanks

[2022-02-22 18:02] farfromrefug commented on #360
@mrzanirato sorry idont know anything about angular.

[2022-02-22 23:18] Krzysiek555 commented on #348
I am facing the same issue. I'm fetching data from API then I update items collection with the fetched data and tabs should be re-rendered. They do, however first tab contains label of last item in collection (?) and last tab displays as it was empty (?).

![Screenshot_20220223-001033_SurfCloud](https://user-images.githubusercontent.com/10950189/155235607-95f6e1e9-a36f-44d0-9b11-b56533a99813.jpg)

[2022-02-23 08:40] nasiriyima commented on #359
@farfromrefug Thanks for the input. Can you kindly share the link to the svelte native discord server to me. I will really appreciate it thanks!

[2022-02-23 10:32] mrzanirato commented on #360
ok no problem, thanks

[2022-02-23 16:15] farfromrefug commented on #359
@nasiriyima https://discord.gg/VYzj972s

[2022-02-28 16:50] update-switzerland opened #362 "ui-material-bottom-navigation not working on Android"
### Which platform(s) does your issue occur on?
- Both  (partly)
- iOS/Android versions
- device and emulator

### Please, provide the following version numbers that your issue occurs with:

- CLI: 8.1.3
- Cross-platform modules: 8.0.1
- Runtime(s): Android - 8.1.1 - iOS - 8.1.0
- Plugin(s): 6.2.14

 "dependencies": {
    "@nativescript-community/ui-material-bottom-navigation": "^6.2.14",
    "@na

[2022-02-28 17:06] farfromrefug commented on #362
@update-switzerland i think you need to use `TabStrip` because of the way N xml core works (not 100% sure as i dont use it).
I think you need to look at your second error which is an android error. Though i cant help without more stacktrace

[2022-02-28 17:09] update-switzerland commented on #362
Thanks - would this be enough? (it's what I get in the console - I have no idea how to get a full stack-trace)

System.err: Caused by: com.tns.NativeScriptException: Calling js method onCreate failed
System.err: Error: Building UI from XML. @app-root.xml:16:9
System.err:  > Cannot read property 'context' of undefined
System.err:     at com.tns.Runtime.callJSMethodNative(Native Method)
System.err:

[2022-02-28 17:13] farfromrefug commented on #362
@update-switzerland it is better but does not give much :s i dont know where the error is happening with this. Maybe you can share on discord and see if someone have an idea?

[2022-03-01 10:31] update-switzerland commented on #362
Thanks @farfromrefug - I found the culprit.

It was a plugin (specifically nativescript-in-app-purchase) that caused the error.

I was able to fix it in the meantime.

[2022-03-01 10:31] #362 closed

[2022-03-04 01:53] zeejay09 opened #364 "Trailing Icon option in Textfield"
Is adding trailing icon option in textfield doable?

[2022-03-04 07:18] farfromrefug commented on #364
not yet. PRs are welcome

[2022-03-04 07:32] zeejay09 commented on #364
Okay thanks, will update this thread if I implemented it.

[2022-03-04 08:05] farfromrefug commented on #364
@zeejay09 thanks. For reference it seems to be implemented natively on both platforms

[2022-03-05 10:04] cjohn001 opened #365 "Android only: the ui-material-tabs version 6.2.20 breaks page navigation in Angular app"
When navigation away from a page with mdtabs and than trying to navigate back or to a further page, navigation does not work anymore.

No error messages are shown.

@nativescript-community/ui-material-tabs
### Which platform(s) does your issue occur on?
- android
- Android version API 31
- only emulator tested

### Please, provide the following version numbers that your issue occurs with:

- CLI:

[2022-03-05 10:38] Bezlepkin commented on #357
Hi! I saw you released an update. Have you fixed the ripple effect?

[2022-03-08 04:40] msl2000 opened #366 "Gradle issues - Could not find com.android.tools.build:gradle:4.5.6"
### Which platform(s) does your issue occur on?
-Android

### Please, provide the following version numbers that your issue occurs with:

@nativescript-community/ui-material-bottomsheet v6.2.23

### Please, tell us how to recreate the issue in as much detail as possible.
tns run android leads to the following error:

A problem occurred configuring root project 'ui_material_bottomsheet'.

     Sear

[2022-03-08 07:01] farfromrefug commented on #366
the issue is not with this plugin but maybe with the cli or @nativescript/android.
try to update them or ask on discors

[2022-03-08 09:15] cjohn001 commented on #365
resolved with 6.2.23

[2022-03-08 09:15] #365 closed

[2022-03-08 09:29] farfromrefug commented on #365
@cjohn001 thanks very good to hear!

[2022-03-08 11:33] ketuvin commented on #366
@msl2000 Please let me know when you manage to fix it. Updating the cli and @nativescript/android did not solve the problem for me.

[2022-03-08 12:05] farfromrefug commented on #366
@ketuvin @msl2000 The issue is on the cli. You can fix it by  installing `npm i -g nativescript@next`. Hope it wont break anything else...

[2022-03-13 13:40] HamoBoker opened #367 "[bottomnavigationbar][IOS] Material design icons doesnt work on active tab"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
im using material design icons on android it works fine, but on ios when `MDBottomNavigationTab` is active icon is showing `?` symbol

![Simulator Screen Shot - iPhone 8 - 2022-03-13 at 15 33 37](https://user-images.githubusercontent.com/36134966/158062022-31714ccc-239b-4ada-b04c-a52599075c6e.png)

### Which

[2022-03-13 13:59] HamoBoker opened #368 "[bottomnavigationbar][Android] doesn't show at the bottom without heigh attribute"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
Bottom navigation bar doesn't show in bottom without setting height attribute on android,

works correctly on ios

### Which platform(s) does your issue occur on?
Android, tested on emulator v10, physical Device v8.0

### Please, provide the following version numbers that your issue occurs with:
[code]

[code

[2022-03-13 14:02] farfromrefug commented on #367
@HamoBoker has to be a font issue. If the first and last are working but not the second one. Maybe for some reason `mdi-clipboard-text-outline` is not recognized. check if for example `mdi-information-outline` works for the 3

[2022-03-13 14:05] HamoBoker commented on #367
@farfromrefug Thanks for your great work and quick response,

No, if i click for example on one of the other tabs it will occur, it happens only on active tab but when its inactive its works fine

[2022-03-13 14:37] farfromrefug commented on #368
@HamoBoker fixed in 7.0.2

[2022-03-13 14:37] farfromrefug commented on #367
@HamoBoker fixed in 7.0.2

[2022-03-13 14:41] HamoBoker commented on #367
Nativescript is lucky to have you, thank you so much.

[2022-03-14 12:47] #367 closed

[2022-03-18 10:22] pkowalezyk opened #369 "Failed to build plugin @nativescript-community/ui-material-core"
Hello,

When trying to launch my project with  "ns run android --emulator", I get the following error :

I recently cleared my npm cache, I didn't have the problem before. Could it be linked ?

Thank you.

[2022-03-18 10:30] farfromrefug commented on #369
@pkowalezyk what version of the plugin are you using ? we are not using `compile` anymore as it is not supported by gradle 7

[2022-03-18 10:33] pkowalezyk commented on #369
I'm using the 5.3.0 version of the plugin

[2022-03-18 10:38] farfromrefug commented on #369
@pkowalezyk we are at 7.x ;)

[2022-03-21 10:28] felixkrautschuk opened #370 "Tabs Android: TabContent is overlapping custom tab strip"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

In some pages in our app we want to use the Tabs component with custom tab strip as we need some

[2022-03-21 11:42] farfromrefug commented on #370
@felixkrautschuk the issue was with the old code i think. What i see here seems normal to me on Android as you use `*`. On iOS it is a bit special as `mdt:Tabs` will behave differently.
Why not use `*,auto`?

[2022-03-21 13:19] pkowalezyk commented on #369
It seems that this issue is linked to recent Nativescript dependencies changes.
I solved my issue by updating NativeScript (from 8.01 to 8.2.2).

[2022-03-21 13:26] #369 closed

[2022-03-21 13:49] felixkrautschuk commented on #370
We want the TabStrip to be on top for Android and at the bottom for iOS.

It was just nice to have one common layout for both platforms (`GridLayout rows="*"`) and to do the positioning only in CSS, so no `android:rows="auto,*" ios:rows="*,auto"` needed for the outer GridLayout and no `android:row="0" ios:row="1"` etc for the custom TabStrip and Tabs component (so the xml file is more readable wit

[2022-03-21 13:51] farfromrefug commented on #370
@felixkrautschuk it is more like something that should not be fixed. The old implementation was really bad and it is now correct but the consequence is what you get. sorry....

[2022-03-23 16:43] mpcref opened #371 "App crashes when bottomnavigationbar is last child in layout element"
### Which platform(s) does your issue occur on?
- Android

### Please, provide the following version numbers that your issue occurs with:

- CLI: 8.2.2
- Cross-platform modules: 8.2.1
- Runtime(s): 8.2.2
- "@nativescript-community/ui-material-bottomnavigationbar": "^7.0.2"
- "svelte-native": "^1.0.2"
- "svelte-native-nativescript-ui": "^1.0.0"

### Please, tell us how to recreate the issue in as m

[2022-03-23 16:48] farfromrefug commented on #371
@mpcref please can you create a repro sample without any other plugin?

[2022-03-23 16:58] mpcref commented on #371
I've narrowed it down to the combination of listView with Template and bottomNavigationBar within the same layout parent. I'll see if I can create a minimal example later.

[2022-03-23 17:38] cjohn001 opened #372 "android only: ui-material-tabs > 6.2.20 breaks nativescript-ui-calendar"
I have a nativescrip-ui-calender in a page displayed within the ui-material-tabs. On Android, the styles of the calendar are broken when it is loaded. In addition to the basic styles I am configuring some parameters of the calendar in the loaded event

		if (global.isAndroid) {
			// disable gestures to switch between view modes
			const gestureManager = this._radCalendar.nativeView.getGestureMana

[2022-03-23 18:11] farfromrefug commented on #372
@cjohn001 this issue should be reported in the calendar plugin. i cant support any of the ui plugin as they are closed source.

[2022-03-23 20:26] nikoTM commented on #366
@farfromrefug it seems to be related so I am not creating a separate issue, but with the new cli using gradle 7+ I am getting:

[code]

[2022-03-23 21:09] cjohn001 commented on #372
@farfromrefug : I am rather sure that this is a problem related to the rewrite of the android version of MDTabs. On MDTabs till version 6.2.20 this works as expected and I am using the calendar plugin in at least 5 different pages in the same app ,exactly same source as on the MDTabs page, without issues

[2022-03-23 21:23] farfromrefug commented on #372
@cjohn001 yes you are right it is related to that change. we now use the normal fragment technique .
now if you say.that the calendar works without calling those lines then i can it should be reported in the calendar repo. again as they are closed source i have no idea of what s happening behind and i can neither say the issue is here nor fix it

[2022-03-23 21:24] farfromrefug commented on #366
@nikoTM makes sure all.plugins are up to date and clean everything

[2022-03-26 03:55] halfnelson opened #373 "Buttons are pointy in demo apps"
![image](https://user-images.githubusercontent.com/551284/160223647-f22fcbeb-2976-4f21-b401-691b96eb9ba5.png)

### If the demo apps cannot help and there is no issue for your problem, tell us about it

The demo apps (I tried vue and svelte) show the buttons as pointy. These don't look like the material buttons I would expect. This is on a fresh build of this repository, with the style.xml updated

[2022-03-26 07:08] farfromrefug commented on #373
yes it comes from this https://github.com/nativescript-community/ui-material-components/blob/master/demo-snippets/svelte/install.ts#L16

[2022-03-26 07:08] farfromrefug commented on #373
and this https://github.com/nativescript-community/ui-material-components/blob/master/demo-snippets/app.scss#L14

[2022-03-28 09:19] felixkrautschuk opened #375 "Tabs 6.2.21+: swiping feels jerky with RadListViews"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

We just migrated the @nativescript-community/ui-material-tabs from 6.2.19 to 7.0.2 in one of our

[2022-03-28 09:45] farfromrefug commented on #375
@felixkrautschuk this comes from the fact that your tab takes too long to "load" itself.
You should offload the loading of the content to the "loaded" event or even better once the tab is actually shown.
This is a know thing on all platforms.
You might not have seen this before because all tabs were loaded on start (which is wrong).
You can also change the `offscreenTabLimit` to a higher value. Bu

[2022-03-28 16:30] felixkrautschuk commented on #375
@farfromrefug Maybe I'm misunderstanding you or the sense of the _offscreenTabLimit_ property.

I have added a loaded and unloaded event handler for the GridLayout inside TabContent for better tracking what is happening, so the app looks like this:

[code]

[code]

When swiping between the last two tabs (tab3 and tab3), I see the following output in the console:

-> Why is the tab4 ever unloaded?

[2022-03-28 17:07] farfromrefug commented on #375
@felixkrautschuk i am talkig about loading on mdtabs biew creation. before you switch tab!
but you are right there seem to be a bug with offscreenTabLimit.
i ll look at it when i have the time.
but again i would look at not loading listview content before the tab is actually showing.
you can see this behavior in almost any android native apps

[2022-03-29 09:35] felixkrautschuk commented on #375
Yes I agree that loading listview content in navigatingTo event is not a good idea and I handle that differently in our production app. But this issue is only related to switching tabs with swiping gesture (even if the tabs were shown before).

[2022-03-29 11:09] farfromrefug commented on #375
@felixkrautschuk i looked at the code of `offscreenTabLimit ` and i actually think everything is correct.
The thing is that N do something that i never liked which is called `load`/`unload`  on all but selected on each tab change.
And it might be an issue with `RadListView` as it might be reloading its data in `load` (which it should NOT do).
I think i wont fix this as it follows N way of doing th

[2022-03-29 13:37] felixkrautschuk commented on #375
Okay.... I forgot to comment the line `args.object.refresh()` inside my `onListViewLoaded` callback. I needed that line when loading the ObservableArray-content inside navigatingTo event, because in this case, the list items where only visible inside the first tab after app start, the other lists were empty.
When moving the loading process - as you told me - inside "tab shown" event, this problem

[2022-03-29 13:43] farfromrefug commented on #375
@felixkrautschuk i think it creates the view but not call `onLoad`. If you can confirm there is something wrong i can look at it.
6.x version was totally different and not following N specs. 7.x is a full rewrite.

[2022-03-30 07:53] jessorlisa commented on #375
I just stumbled across this as I also have issues with 7.x (albeit slightly different, I will create issues once I have a project for easy reproduction)....

@farfromrefug It seems the rewrite started already with [6.2.15](https://github.com/nativescript-community/ui-material-components/commit/4f71387601ad5ac64407804cc664bf34002132d6) and not only with 7.x? Which version should we stick to if we a

[2022-03-30 12:46] farfromrefug commented on #375
@jessorlisa indeed stick with [v6.2.14](https://github.com/nativescript-community/ui-material-components/commit/750b56e352d255473933621e1466b3bd891f930d).
and yes you should be able to use it with 8.2.x though i cant ensure anything now.

@jessorlisa @felixkrautschuk i keep on looking at this. I see what changed from 6.x to 7.x. I can revert but i dont like it:
* in 6.x on each tab change load was

[2022-03-31 05:10] zeejay09 opened #377 "[bottomSheet] Landscape the height does not work in Android"
I have this problem, I set the height of the bottom sheet to 500 from 200. The code is just like the one in the readme. In portrait it looks okay:
![image](https://user-images.githubusercontent.com/30751791/160980884-60939bb1-9b15-4946-b12e-94c890d996a2.png)

However, when in landscape, the height does not take effect:
![image](https://user-images.githubusercontent.com/30751791/160980934-3a67e50b-

[2022-03-31 06:22] farfromrefug commented on #377
@zeejay09 sadly it seems to be an issue with the native lib.
you can try and reproduce in an android native app.and report it in the android material repo

[2022-03-31 06:32] zeejay09 commented on #377
@farfromrefug yeah that was what I was thinking also. Will report it to them, thanks.

[2022-03-31 06:32] #377 closed

[2022-03-31 06:38] zeejay09 commented on #377
It seems that they have already identified it but the fix is temporarily rolled back for further investigation.

https://github.com/material-components/material-components-android/issues/2221

This is for anybody that might stumble upon the same issue.

[2022-04-04 22:14] Ombuweb commented on #368
I have v7.0.3 but it's not rendering at the bottom.

[2022-04-04 22:29] HamoBoker commented on #368
Hi @Ombuweb , currently im using v7.0.2 and it works fine.

before v7.0.2 i set height attribute to 55

[2022-04-04 23:37] wuilmerj24 opened #378 "BottomSheet Error open from rootlayout angular 13"
### Make sure to check the demo app(s) for sample usage
### Which platform(s) does your issue occur on?
- Android
- Android versions 8.2.2
- emulator

### Please, provide the following version numbers that your issue occurs with:

- CLI: 8.2.0
- Cross-platform modules: 8.2.0
- Runtime(s): 8.2.2
- Plugin(s): 7.0.3

### Please, tell us how to recreate the issue in as much detail as possible.
I try t

[2022-04-05 07:31] Ombuweb commented on #368
Oh. I downgraded to v7.0.2 but still not rendering at the bottom.  Thanks for responding @HamoBoker.

[2022-04-09 22:04] dlcole opened #379 "Unable to optionally remove TabStripItem on Android"
I have a scenario where I have three Bottom Navigation tabs and need to remove the third tab if the user is not authorized to access.  This works fine on iOS; I can simply pop the items array and everything works as desired.  On Android, however, the tab remains visible but becomes disabled (at least, it's not tappable).

I've spent two days trying everything I can think of:
- popping the items ar

[2022-04-09 23:39] dlcole commented on #379
After further investigation I found I could make this work be popping both the TabContentItems array *and* the TabStripItems array, specifically,

[code]

I'll close this issue and hope this helps others looking to do the same thing.

[2022-04-09 23:39] #379 closed

[2022-04-11 17:36] dolphin-dogs commented on #359
For anybody who needs this component in svelte native : this code is working.

Just there is an inversion here :

[code]

[code]

[2022-04-19 14:58] MrSnoozles opened #380 "[BottomSheet][NS 8.2][iOS only] App hangs when opening a bottom sheet with DatePicker"
### Which platform(s) does your issue occur on?
- iOS only, iPhone 13, iOS 15.2 (emulated)

### Please, provide the following version numbers that your issue occurs with:

- CLI: 8.2.3
- Cross-platform modules: 8.2.2
- Runtime - ios: 8.2.3
- Plugin(s): 7.0.3
- Xcode: 13.2.1

### Please, tell us how to recreate the issue in as much detail as possible.
When the "inner" component of a bottom sheet co

[2022-04-20 08:25] MrSnoozles commented on #380
Update:
If the inner component is wrapped in a `<Page>` tag, it works without hanging. But then the styling is off and I suppose there will be other side effects.

[2022-04-20 09:30] farfromrefug commented on #380
@MrSnoozles It is actually a big issue with N which appeared in 8.2.0. Trying to pinpoint it but it is slow process

[2022-04-20 15:47] farfromrefug commented on #380
@MrSnoozles Should be fixed in 7.0.4

[2022-05-02 03:08] msl2000 opened #381 "[ios] Tab animation stopping halfway through screen render - Nativescript Vue"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
-iOS only

### Please, provide the following vers

[2022-05-02 06:41] farfromrefug commented on #381
@msl2000 could you try and create a reproducible simple example ? without it it will be hard to fix

[2022-05-05 15:24] Bernardmyburgh5 opened #382 "BottomSheet: Vue how to pass and access data/props to vue component"
### Which platform(s) does your issue occur on?
- Both
- emulator

### Please, provide the following version numbers that your issue occurs with:

- CLI: 8.2.3

This is not an issue, the bottom sheet works fine. This is more a query to understand how to pass data to the sheet, and how to access that data in the component that is passed in the `this.$showBottomSheet(MyComponent, {})` method.

Below

[2022-05-06 08:39] Bernardmyburgh5 commented on #382
Thanks so much for the feedback @farfromrefug and pointing me in the right direction. I guess I am a bit rusty with vue's render functions, but managed to pass and access the data in my component. thanks again!

[2022-05-06 08:39] #382 closed

[2022-05-09 12:57] HamoBoker opened #383 "App crash: Attempt to invoke virtual method 'android.content.res.Resources android.content.Context.getResources()' on a null object reference"
Error

[code]

package.json

[code]

[2022-05-09 13:13] farfromrefug commented on #383
@HamoBoker thanks for the report. Should be fixed in 7.0.6

[2022-05-09 15:41] #383 closed, assigned to nobody

[2022-05-09 17:05] Echoju opened #384 "BottomNvigationBar : Tabpressed not fired on the first Item with Vue+NS+Android"
Hello,

I use BottomNavigationBar with Vue.js.
I set isSelectable to False to each item so that I can use the TabPressed event, the problem I found is that this event is not fired on the first item only (the two others work fine!)  :

`    <MDBottomNavigationBar id="id_tab_nav" ref="my_tab_navigation_bottom" backgroundColor="#70152b" activeColor="#FFF" inactiveColor="#FFF" row="1"  @tabPressed="ta

[2022-05-09 17:57] farfromrefug commented on #384
tabPressed is not emited if the  tabs are not selectable

[2022-05-09 18:19] farfromrefug commented on #384
@Echoju thanks for.pointing that out. if you can create a PR if you find the fix that would be awesome!

[2022-06-04 23:15] wuilmerj24 opened #386 "bottom sheet How to change dynamically peekHeight"
It is possible to change the peekHeight dynamically?

[2022-06-05 07:29] farfromrefug commented on #386
@wuilmerj24 no I don't think it is possible right now.though it would be a great feature to have. could you take a look at it ?

[2022-06-05 20:26] wuilmerj24 commented on #386
@farfromrefug Hello. Yes of course.

[2022-06-06 06:51] dangrima90 opened #387 "Bottom Sheet does not open when calling function from Vue Plugin"
I have a bottom sheet component in a components library which I'd like to migrate to start using `@nativescript-community/ui-material-bottomsheet`. So to reduce the amount of code changes I'm trying to create a wrapper Vue Plugin using the `@nativescript-community/ui-material-bottomsheet` library which can then be imported into any NativeScript Vue application.

**Sample Plugin code**

[code]

The

[2022-06-06 07:03] farfromrefug commented on #387
@dangrima90 please add a try catch (it is a promise) on the `$showBottomSheet`. Without it it is hard to know what s happening

[2022-06-06 11:57] dangrima90 commented on #387
You're right, sorry my bad. So error catching the error on the Promise, the following error is being thrown:

`TypeError: Cannot read property 'showBottomSheet' of undefined`

Error is coming from: `node_modules/@nativescript-community/ui-material-bottomsheet/vue/index.js`, it looks like `this.nativeView` is `undefined`.

[2022-06-06 12:03] farfromrefug commented on #387
@dangrima90 you got your error! it is not `localVueInstance.prototype.$showBottomSheet(args.component, args);`  but `localVueInstance.$showBottomSheet(args.component, args);`

[2022-06-06 12:03] #387 closed

[2022-06-06 12:56] dangrima90 commented on #387
Calling `$showBottomSheet` without the `prototype` results in:

`TypeError: localVueInstance.$showBottomSheet is not a function`.

In the error I've sent previously it's `showBottomSheet` that is causing the issue and not `$showBottomSheet`.

Meaning that this line is failing:

https://github.com/nativescript-community/ui-material-components/blob/96cfe1ff834ee2f99b757bc9cd7db9daafcda0df/src/bottom

[2022-06-06 15:44] dangrima90 commented on #387
I'm sorry, I'm not understanding how `$showBottomSheet` is being "called too soon". The code is a simple wrapper function - the `$showBottomSheet` is not called by the plugin's `install()` function. It is called when an application calls `this.$myBottomSheet.show(...)`.

I've created a sample repository where you can see the issue: https://github.com/dangrima90/bottom-sheet-plugin-test.

* The [pl

[2022-06-06 17:00] farfromrefug commented on #387
@dangrima90 my bad wrongly read your code.
sorry I want to help you.
now the $showBortomSheet should be called on a vue instance not the prototype.
I can't do muchore seeing I am not in front of a computer those days. but as I said please look at the demo app which works just fine

[2022-06-07 09:11] dangrima90 commented on #387
@farfromrefug I've managed to implement a workaround for this issue. I investigated a bit what is happening in this case and why `this.nativeView` was `undefined` when being called via the custom plugin.

I've managed to replicate the same issue when trying to use NativeScript-Vue's `$showModal` function. In this case `nativeView` is not found in this [line](https://github.com/nativescript-vue/nat

[2022-06-08 06:34] farfromrefug commented on #387
@dangrima90 i think there is something wrong in your app code. Your mixin actually does nothing except adding a function in between (and changing the args type).
Sorry you got this trouble

[2022-06-08 13:08] manijak opened #388 "[cardview] Android: ListView itemTap does not fire"
When using the `CardView` component inside a `ListView` template, the ListViews `itemTap` event never fires. If i add the `tap` event on the `CardView` instead, the event fires, but the ripple-effect is gone.

Issue only present on Android, works fine in iOS.

[code]

### Dependencies

[code]

[2022-06-14 12:04] timbell opened #389 "[tabs] Problem with initial selection if not first tab ( >= 7.0.0)"
Using Nativescript 8.2.3, Android emulator (Pixel 5 API 30)

When the initial tab is not the first, then the incorrect (first) tab is selected though the tab content is selected correctly. This was working fine up to version 6.2.24.

![Screenshot_1655206310](https://user-images.githubusercontent.com/161869/173571198-b7a671ad-5709-4951-b2e1-9d5aba7d09e7.png)

To reproduce, create an Angular, "hello

[2022-06-14 12:16] timbell commented on #389
(NB sometimes the problem doesn't manifest itself visually, but in this case the first tab is unselectable until another tab is selected.)

[2022-06-16 14:30] farfromrefug commented on #389
@timbell i tried here with a basic example like this one https://github.com/NativeScript/NativeScript/files/8910031/android_frame_crash_demo.zip and it works just fine.
You need to investigate this a bit more to see what makes it not work in your case

[2022-06-16 18:41] farfromrefug commented on #389
@timbell indeed I misplaced bottom navigation for tabs
did not have time to test your app no. don't have much time those days

[2022-06-20 05:19] kdomingo opened #390 "MDTextField data-bound hint not reflecting on value update"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
MDTextField data-bound hint not reflecting on value update

### Which platform(s) does your issue occur on?
- Android

### Please, provide the following version numbers that your issue occur

[2022-06-20 10:13] kdomingo commented on #390
< MDTextField
            #emailPhoneField
            id="email-phone-field"
            width="80%"
            variant="outline"
            strokeRadius="24"
            strokeColor="#09A9F4"
            strokeInactiveColor="#808080"
            placeholderColor="#808080"
            floating="false"
            minHeight="80"
            fontSize="16"
            borderRadius="24"

[2022-06-21 08:08] farfromrefug commented on #389
@timbell can you try 7.0.21 and tell me if it fixes your issue?

[2022-06-21 08:49] timbell commented on #389
@farfromrefug yes, that fixes it - thanks!
(there's a continuous `setSelectedPosition` console log message now - maybe left in by mistake?)

[2022-06-21 12:10] farfromrefug commented on #389
@timbell my bad will remove it

[2022-06-22 12:26] dangrima90 opened #392 "CocoaPods for MaterialComponents/TextControls fails"
A bit of a weird issue but I can't seem to figure out what the issue is. When trying to use `@nativescript-community/ui-material-textfield` I can't use version 7 of the package on iOS.

I'm always getting the following error:

![image](https://user-images.githubusercontent.com/36479149/175027036-ec72ecf7-508f-4215-b40b-fb57c721ee13.png)

The screenshot displays the error being shown for `MaterialC

[2022-06-22 12:29] farfromrefug commented on #392
@dangrima90 did you run `pod repo update` ?

[2022-06-22 12:30] dangrima90 commented on #392
@farfromrefug Yes ran `pod repo update`. Same goes for `pod install --repo-update`. I've also tried clearing the cache: `pod cache clean --all`. No luck

[2022-06-22 12:42] farfromrefug commented on #392
@dangrima90 you can look in the podfile lock to see what version is installing. It should be the latest.
If not then something is preventing you from installing latest from cocoapod. maybe you need `platform :ios, '10.0'` in your pdofile?

[2022-06-22 13:25] dangrima90 commented on #392
Unfortunately I can't see what's in the podfile lock since the build is failing the file is not created.

I added `platform :ios, '10.0'` to my podfile but still the same result:
<img width="915" alt="image" src="https://user-images.githubusercontent.com/36479149/175040249-d8651f8a-733d-4edf-94d4-0f9e427fa166.png">

[2022-06-22 13:57] dangrima90 commented on #392
@farfromrefug I've analysed the generated podfile and here's all the references to `MaterialComponents`:

[code]

Could any of these be creating a problem?

[2022-06-22 14:11] dangrima90 commented on #392
Ehh thought so - We're stuck with NativeScript 7 unfortunately 😞

[2022-06-22 14:15] dangrima90 commented on #392
Asking as I saw this a few moments ago (https://github.com/NativeScript/nativescript-cli/issues/5061) But I'm not so sure how it can be used.

[2022-06-22 14:21] farfromrefug commented on #392
@dangrima90 you can create a hook to modify the podfile and remove it. This is what i did in 5.x and 6.x of material components. You should be able to find it in git history

[2022-06-22 14:36] dangrima90 commented on #392
Alright time to go back in history then 😆 thanks for your help

[2022-06-22 16:03] #392 closed

[2022-06-22 16:15] farfromrefug commented on #392
@dangrima90 wow did not know about that option !!!

[2022-06-22 16:18] dangrima90 commented on #392
From what I'm seeing in NativeScript 6 it used to exist but it was a boolean in a JSON file.

Now for NativeScript 7 I'm seeing a TypeScript config file and not a JSON one. Now for some reason the type is set to a string - I thought let me try true as a string instead. Just my luck it worked :)

[2022-06-23 07:38] msl2000 commented on #381
I found the issue to some degree. Each of those tab runs an http request using axios. It seems when a response is returned while the tab is animating, it stops and kills it. I found a work around by adding a placeholder layout that disappears 500 ms after the http request completes (settimeout). This isn't really elegant though, but it allows the tab to finish animating.

As for a reproducible sys

[2022-06-23 07:50] msl2000 opened #393 "[Tabs] [iOS] Tabs don't swipe even with swipeEnabled = true after the first swipe"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- ios

### Please, provide the following version

[2022-06-23 08:58] farfromrefug commented on #381
@msl2000 sorry you ll have to investigate this one yourself. It is a very specific use case. I dont have the time to look at this :s

[2022-06-23 08:59] farfromrefug commented on #393
@msl2000 should be fixed in 7.0.23

[2022-06-23 10:29] msl2000 commented on #393
Perfect. This works.

[2022-06-23 10:29] #393 closed

[2022-06-24 08:46] MrSnoozles commented on #380
Hi @farfromrefug .
I have to reopen this issue, unfortunately. It seems like there has been a regression between ui-material-bottomsheet 7.0.7 and 7.0.8.
When having a datepicker in a bottom sheet, the application now crashes immediately when closing the bottom sheet.

![nativescript-bottomsheet](https://user-images.githubusercontent.com/17496592/175498388-e20bbd47-cd7a-49cf-8498-c899db52bb2b.gif)

[2022-06-24 12:04] MrSnoozles commented on #380
Confirmed. It's fixed. Thank you

[2022-06-24 12:04] #380 closed

[2022-06-25 09:38] dangrima90 opened #394 "iOS Slider Discrete Values Issue"
I think I've found a bug with how the `numberOfDiscreteValues` is being calculated for iOS.

I have the following example:

Min Value: 1000
Max Value: 10000
Step Size: 1000

When debugging I've noticed that `numberOfDiscreteValues` is being to set to 9 instead of 10. This is resulting in a continuous slider rather than a discrete one. From what I'm seeing the calculation is a difference of max and

[2022-06-25 11:05] farfromrefug commented on #394
@dangrima90 could you create a PR?

[2022-06-25 13:33] dangrima90 commented on #394
@farfromrefug sure I'll give it a go :)

[2022-06-25 15:28] dangrima90 commented on #394
@farfromrefug here's the PR https://github.com/nativescript-community/ui-material-components/pull/395

As mentioned in the PR description unfortunately I didn't manage to get the demos working on my machine, however I tested the same code in my local project and it's working fine.

[2022-06-27 16:47] zamblas opened #396 "SpeedDial `this` is undefined"
Latest versions of NS cli, NS Android, NS iOS and version 7.0.24 of @nativescript-community/ui-material-speeddial

Both on Android and iOS it returns the error
`TypeError: Cannot read property 'horizontalAlignment' of undefined`

Reverting to the previous version that I had installed (5.2.31) fixed the error

[2022-07-13 09:20] felixkrautschuk commented on #375
I'm closing this, as it seems that nativescript-ui-listview 10.2.x fixes the issue.

[2022-07-13 09:20] #375 closed

[2022-07-18 12:58] tartinesKiller commented on #357
I had this issue with my recent migration of my app from NS6 to NS8: I'm now using the latest version of @nativescript-community/ui-material-ripple.
In my case, the ripple is not showing if there's not a `rippleColor` specified, it wasn't mandatory, but seems to be accidentally needed now.
So, instead of
[code]
you should now do
[code]

[2022-07-19 14:08] farfromrefug commented on #357
@Bezlepkin @tartinesKiller it seems ripple is completely broken on android :s i have no idea how to fix it :(
I would suggest to use https://github.com/nativescript-community/ui-material-components#mixins= to have rippleColor work  on any view! This is what i do.

[2022-07-19 14:15] tartinesKiller commented on #357
No, it does work for me, but I had to specify a rippleColor, through component property, or with CSS with
[code]

After that, it works as intended.
Didn't had time to try to investigate for now however

[2022-07-19 14:16] farfromrefug commented on #357
@tartinesKiller here locally with the dev version it does not work at all anymore

[2022-07-20 01:27] chris-praxis opened #397 "Tabs crash in 'handleTabStripChanged' when re-creating GridLayout"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
Android 12, possibly others

### Please, provide

[2022-07-20 01:28] chris-praxis commented on #397
At least in some cases this occurs after app has been put in background and is brought back to foreground.

[2022-07-25 21:47] liamcharmer commented on #369
I have updated the Nativescript (by running ns update).

i now have this issue:

[code]

[2022-07-25 21:52] liamcharmer commented on #366
Getting potentially same issue as well.

[code]

have ran update on all plugins etc and still error appears

[2022-07-26 14:13] farfromrefug commented on #366
@liamcharmer must be a clean issue. It is working fine with gradle 7.

[2022-07-26 14:14] farfromrefug commented on #369
@liamcharmer look at the comment. It is a setup/clean issue

[2022-08-01 07:40] danouche93 opened #398 "[BottomNavigationTab] Icons not resizing on iOS"
### Which platform(s) does your issue occur on?
- iOS
- emulator and device

### Please, provide the following version numbers that your issue occurs with:

- CLI: 8.2.3
- Cross-platform modules: 8.2.5
-Package.json
[code]

### Please, tell us how to recreate the issue in as much detail as possible.
I upgraded my project from NativeScript 6 to 8 and I had the bottom navigation component and I saw

[2022-08-02 11:38] danouche93 opened #399 "[Feature request][Floating Action Button] Swipe animation"
I changed the plugin I used for floating button from @nstudio/nativescript-floatingactionbutton to this plugin. The old one had an option to show and hide the button when scrolling a ListView with an animation thanks to "hideOnSwipeOfView" attribute.
Is it possible to have this feature with this plugin?

Thanks

[2022-08-02 12:37] farfromrefug commented on #399
@danouche93 you can do it with N scroll events and animations. Won't be part of this plugin. You might even fins the code in the nstudio plugin

[2022-08-02 12:37] #399 closed

[2022-08-19 14:25] farfromrefug commented on #398
@danouche93 can you create a repro sample project? Thanks

[2022-08-21 14:54] boris01 opened #401 "[BottomNavigationBar] set disabled color"
Hi,
I'm trying to find a way to set additional - disabled color for the tab, in case the tab isSelectable property is false.
Is there a way to do this with the BottomNavigationBar?

Thanks

[2022-08-28 17:25] guillemc23 opened #402 "[Material Slider] Overriding theme's colors"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- Android

### Please, provide the following vers

[2022-09-01 12:40] farfromrefug commented on #402
@guillemc23 hard to tell. Seems like a css issue. Can you reproduce it in an simple example project? (not angular please).

[2022-09-07 09:39] farfromrefug commented on #401
@boris01 you can do this with css and pseudo selector like this:
[code]

[2022-09-07 18:27] boris01 commented on #401
@farfromrefug Thank you for you help!
Unfortunately it is not working with this pseudo selector  myClass[isSelectable="false"]
Can you give a little example please?

[2022-09-08 09:32] #401 closed

[2022-09-14 13:20] felixkrautschuk opened #403 "Xcode 14: Undefined symbols for architecture x86_64: "_MDMMotionCurveMakeBezier""
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- iOS
- iOS (all versions)
- emulator and device

[2022-09-14 14:14] farfromrefug commented on #403
@felixkrautschuk maybe you force `IPHONEOS_DEPLOYMENT_TARGET` ?

[2022-09-14 14:41] felixkrautschuk commented on #403
In our production app I set IPHONEOS_DEPLOYMENT_TARGET = 12.0 . I also tried removing it there and I tried adding it to the new created project, but no difference on both. The production app build still fails, the new project can still be built.

[2022-09-14 14:43] farfromrefug commented on #403
@felixkrautschuk ok not sure what s the difference then ...

[2022-09-15 06:26] #403 closed

[2022-09-18 15:38] R-chie commented on #390
same issue, hint doesn't work with interpolation too

[2022-09-18 15:57] farfromrefug commented on #390
@kdomingo @R-chie so you are saying first value gets set but when you try to change it it does not update?

[2022-09-18 16:21] R-chie commented on #390
@farfromrefug value sets only if
`hint="enter your value..."`

`[hint]="placeholderInputValue"`- doesn't work, placeholder not visible
`hint="{{placeholderValue}}"` - doesn't work, placeholder not visible

[2022-09-21 10:40] standevo opened #408 "Bottomsheet with Snackbar error"
Android

When is passed the instance of Bottomsheet to the Snackbar view option I got the error:
`Cannot read property 'nativeViewProtected' of null`

On IOS works fine

[2022-09-21 11:23] anarnoli opened #409 "Unable to set First tab (0 index tab) by default?"
### I am using MDTabs component and unable to set first tab by default when page loads

There is a property called `selectedIndex` in which if I set `0`  then it throws `ERROR TypeError: Cannot read property 'addObserverForKeyPathOptionsContext' of undefined`

So I have to set `1` always which selects 2nd tab be default. Please suggest how to achieve it.

Does it make any impact if using `<MDTabs>

[2022-09-21 20:06] Stanteq commented on #64
[code]

[2022-09-23 00:24] Bheam opened #410 "MDBottomNavigation"
Ok I give up... MDBottomNavigation doesn't work for nativescript-vue on android.

I actually just wanted to use the BottomNavigation that used to be in nativescript core, but was removed, i don't need the MD versions, but I can't find any info how to do that. Do i need to downgrade to NS7 ?

Also I tried the MDBottomNavigationBar as well, it seems to work, but the icon can't be styled so i can't u

[2022-09-23 07:38] farfromrefug commented on #410
@Bheam for some reason your build does not see the android material libs at runtime. Tbh I can't say why just like that. If you share the project we can help you.
Your true error might be higher in your build logs

[2022-09-23 18:21] Bheam commented on #410
Well no errors on the build log - also it's not the material libs it can't find, it's looking up "com.nativescript.material.core.BottomNavigationBar" and com.nativescript is undefined - I find it a weird syntax to begin with. I didn't think namespaces like that was available in code.

But i'll see if i can cook up a minimal example.

[2022-09-23 18:48] Bheam commented on #410
I appologize. platform remove finally fixed it for me.

[2022-09-23 18:48] #410 closed

[2022-09-25 11:01] farfromrefug commented on #409
@anarnoli please share the full error stack

[2022-09-26 16:18] dangrima90 commented on #319
@farfromrefug I'm using NS7 and up until a few days ago I've never faced any issues. However this week I'm getting this error `this.nativeView.getLineSpacingExtra is not a function`.

From the mentioned issue it seems that the fix was done for NS8. Is there any way that this could be fixed for NS7?

[2022-09-27 06:23] dangrima90 commented on #319
I've managed to replicate the issue without my wrapper component. The issue occurs when line height is set:

This works fine:

[code]

This fails:

[code]

In the application I'm working on Tailwind CSS is being used, therefore to set the font size a utility class which in my case also sets the line height.

[code]

[code]

Is it not possible to set a line height with the text field? I'm a bit con

[2022-09-27 07:13] farfromrefug commented on #319
@dangrima90  @abbieben07 i ll take a look.

[2022-09-27 09:05] farfromrefug commented on #319
@dangrima90 @abbieben07 what s your N version ? It seems you are using an old version of N as the code the issue is refering to ` this.nativeView.getLineSpacingExtra`. does not exist (anymore). It has been quite some time since it changed (https://github.com/NativeScript/NativeScript/commit/0d0d0382ad238e0df1332506741142e02e01e34c)
And the material components need that commit. Either upgrade N or

[2022-09-27 10:48] dangrima90 commented on #319
@farfromrefug yes at the moment we're in the process of upgrading to NS 8, in the meantime we still need to maintain our production version with is NS 7.

For now I will probably implement a workaround to not have line height set in this case.

[2022-09-27 10:58] farfromrefug commented on #319
@dangrima90 ok i ll close this issue as it is a dep issue

[2022-09-27 10:58] #319 closed

[2022-09-27 21:17] kefahB opened #411 "[android] Tabs > FragmentManager is already executing transactions"
Hello @farfromrefug,

I am facing a strange issue with the tabs navigation !

when I navigate to other page using top root frame, and trying to `goback()` the app crash with the flowing error

I have tried to reproduce the error with a new project but I am not able to reproduce! but if I navigate back with a navigation it work and if I modify the plugin as below

[code]

[code]

Do you have any id

[2022-09-28 19:08] farfromrefug commented on #411
@kefahB tbh i dont use tabs so not really an expert of it and i dont really know what could be happening
@edusperoni would you have an idea on this?

[2022-09-30 11:53] kefahB opened #412 "Docs needs to be updated!"
Hi everyone,

It is really a shame that the docs of such a grate repos to be with a lot of error .. we spends ours in order to understand how it works!

Please, let's make it clear and intuitive for every body, we should think about new member to NS, if they hurt to the docs as it, they will go to other technology!!.

Tabs is a small example:

[code]

@farfromrefug @NathanWalker

[2022-09-30 12:08] farfromrefug commented on #412
@kefahB i can understand tour frustration. But i need you to understand that those are community project managed by people on their free time. No one is paying me others to maintain this.
You might have lost time (which I don't think are hours) I spends hours a week maintaining this, answering people and ensuring this works best for you.
You are welcome to create PRs for doc that would be a great

[2022-09-30 12:23] kefahB commented on #412
Dear @farfromrefug,

Of course I know that everybody work freely and generously .. and please do understand that my post here is not because I am not happy or some think, you know may be When I facing an issue I do push a PR I my competence allow me to do so.

My post is purely to go forward with NS.

About the demo, look at the repo, when you navigate to the [demo snippets ](https://github.com/na

[2022-10-06 09:03] vallemar opened #414 "How can I update the version of androidXMaterial library to Material3"
How can I update the version of this library: https://github.com/nativescript-community/ui-material-components/blob/master/packages/core/platforms/android/include.gradle#L3.

I want to update `androidXMaterial`  to 1.6.1 but I don't know how to pass it to the plugin

Doc: https://m3.material.io/libraries/mdc-android/getting-started

I want to update it only in my application and there seems to be

[2022-10-06 09:05] farfromrefug commented on #414
@vallemar Here is how you can do it https://github.com/Akylas/alpimaps/blob/master/App_Resources/Android/before-plugins.gradle#L12

[2022-10-06 09:07] vallemar commented on #414
@farfromrefug  You're a great person!!!!!

[2022-10-06 09:07] #414 closed

[2022-10-07 14:21] farfromrefug commented on #322
@fpaaske thanks a lot for pointing this out. I will fix the example!

[2022-10-11 11:34] #412 closed

[2022-10-27 09:47] vanishdark opened #416 "[BottomSheet] - java.lang.NullPointerException: Attempt to invoke virtual method 'androidx.fragment.app.FragmentTransaction'"
- CLI: 8.3.3
- Cross-platform modules: 8.3.5
- ui-material-core - 7.0.28
- BottomSheet - 7.0.28

This error pops up in the android emulator and physical only, in iOS everything works fine and as expected. I'm using the component BottomSheet and the component with the same options/settings works on 2 pages but doesn't work on 1 page.

The error catch is
[code]

This is the code where the error is p

[2022-10-27 09:49] farfromrefug commented on #416
@vanishdark please share the full callstack and error

[2022-10-27 10:22] vanishdark commented on #416
Hey @farfromrefug. There is no stack, only the error that I put above. that is printed in the catch from the showBottomSheet

[code]
This is all I got. I got the error because I put the console.log inside the catch.
If it exists a better way to catch this please let me know, because I could not figure out how to.

[2022-10-27 11:13] vanishdark commented on #416
Hey @farfromrefug I did a deep debug here is what i found.

**code that is throw the error**
[code]
**error message**
[code]
**stack**
[code]
**stacktrace**
[code]

[2022-10-27 12:25] farfromrefug commented on #416
@vanishdark thanks. Did you enable source maps? Cause right now it points to vendor and I don't know where it points to in the original source.
Please either reproduce with source map or look at the vendor code and tell me where it points to.

[2022-10-27 12:50] vanishdark commented on #416
Yep, the source map is enabled. But the message returns the android files. I take a PrintScreen of the vs code with the file stack. You can see in the picture the stack trace message return the android files but the vscode debug stack shows the real files. Do you think this helps?

![image](https://user-images.githubusercontent.com/14154560/198288503-68f0de2e-5e04-4292-a09b-f8052aac2a5f.png)
![ima

[2022-10-27 12:54] farfromrefug commented on #416
@vanishdark thanks a lot i see much better now. So it seems your issue is that parent your showing the bottomsheet from is not yet created/initialised. By that i mean the `(this as unknown as NativeScriptVue)` in your code.
Cant tell you much more but if `this._context`  it means the view(not the vue view, the N view )  is either not created yet  or destroyed

[2022-10-27 13:18] vanishdark commented on #416
@farfromrefug do you have any suggestions to fix this? I found in the logs before the error pop up

[code]
You can see the parentNode is null
Do you think is related?

[2022-10-27 13:21] farfromrefug commented on #416
@vanishdark sorry very hard to tell without the full context.
if you can reproduce the issue in a simple example (vue is perfect) i will fix it

[2022-10-27 13:45] vanishdark commented on #416
@farfromrefug I found out what is the issue.
So to authenticate the user a browser window is open inside the app. I remove that step and the bottomshet start working. I will do a workaround on this since I can't remove the authentication 😂

[2022-10-27 13:45] #416 closed

[2022-10-27 23:38] fpaaske commented on #398
@farfromrefug I'm using font icon, but you can see the same issue in [this repo](https://github.com/fpaaske/marvelous); the iOS icons are very small compared to the Android counterpart:

<img width="376" alt="image" src="https://user-images.githubusercontent.com/1579581/198417036-b6c294c7-bd86-46bb-b3a2-f76c7a24dff6.png">

<img width="373" alt="image" src="https://user-images.githubusercontent.com

[2022-10-28 06:55] fpaaske commented on #308
@limyandi it's been a while so you might already have solved it, but if not, try replacing page-router-outlet with a router-outlet in home.component.html

[2022-10-28 12:31] kefahB opened #417 "[android] Dialog button invisible"
Hi @farfromrefug

I didn't understand what should I do in order to getting the color work in android ? can you advise me please ?

<img width="222" alt="Capture d’écran 2022-10-28 à 16 26 28" src="https://user-images.githubusercontent.com/18148534/198587437-0852e654-3e80-4e51-b250-6d392c3c2761.png">

[2022-10-28 12:53] farfromrefug commented on #417
The issue is with your android theme.I am on my phone right now. But a simple search for android material theme colors will show you how to do it

[2022-10-28 14:13] kefahB commented on #417
thanks

[2022-10-28 14:13] #417 closed

[2022-11-02 09:16] farfromrefug commented on #403
@felixkrautschuk realised i never answered you with the solution for this https://github.com/material-components/material-components-ios/issues/10260#issuecomment-1259245800. Hope it is not too late

[2022-11-02 13:36] felixkrautschuk commented on #403
thanks @farfromrefug

[2022-11-09 00:15] brianrclow commented on #394
@farfromrefug  @dangrima90 I see this issue is still open and after using the slider with the most up-to-date version I'm not sure if the PR #395 that was merged resolves everything.

I've created a demo repo that uses Nativescript Angular(I'd imagine it's the same issue with any flavor) to reproduce the issue: https://github.com/brianrclow/slider-initial-value-issue

The issue is the numberOfDisc

[2022-11-09 00:26] brianrclow commented on #394
Here is a video of it in an app I'm working on: https://www.youtube.com/shorts/rxUXB-EbOec

[2022-11-09 08:04] farfromrefug commented on #394
@brianrclow i try to take a look at it. I hope it is not a native bug cause the lib is not maintained anymore :s

[2022-11-09 17:10] brianrclow commented on #394
@farfromrefug I don't think it a native bug but I am not 100% sure. I imagine it's just a math error in calculating the number of ticks which effects where the initial value position is at.

[2022-11-21 11:49] kefahB commented on #411
@farfromrefug @edusperoni I create [this sample](https://stackblitz.com/edit/nativescript-stackblitz-templates-m8ybyq?title=NativeScript%20Starter%20TypeScript) that show the scenario when app crash when navigate back.

If we set a `Frame` into `TabContentItem` and navigate outside of the `BottomNavigation` root, then we navigate back it causing an app crash.

[2022-11-22 08:45] kefahB commented on #398
HI,

we should set the font [here](https://github.com/nativescript-community/ui-material-components/blob/7c7b46517fbe800a3fbb141780e99ec5d4cfe5f0/src/bottomnavigationbar/bottomnavigationbar.ios.ts#L204)  `font = font.withFontSize(30)` this solve the problem but the spacing between the icon and the title stay the same, it should be handled also.

[code]

[2022-11-22 09:41] kefahB opened #418 "[IOS] Tabbar scroll horizontally when set 4 items"
Hi @farfromrefug,

I try to investigate the behavior of the `ui-material-tabs`, it scroll horizontally when setting more then 3 items, I did set
[here](https://github.com/nativescript-community/ui-material-components/blob/master/src/tabs/index.ios.ts#L90) `tabBar.alignment = justifyed` or `tabBar.alignment = leading` but no one sound to change any think.

Do you have any idea about this topic ?

[2022-11-22 09:48] farfromrefug commented on #418
@kefahB here is the doc for the iOS component https://github.com/material-components/material-components-ios/blob/242f895f053ae7fea62fc02289bc99aa0ef630a2/components/Tabs/README.md. the scroll behavior is explained there.
Maybe you can find how to do what you want

[2022-11-22 16:20] SidnevIgor commented on #193
@ray007
If the question is still actual try to replace the listview or scrollview with a scrollview extension (https://github.com/ebarahona/nativescript-nested-scrollview). This did the trick for me

[2022-11-23 08:27] kefahB commented on #418
@farfromrefug, I catch it, there is som think wired, if the fontSize > 10 dpi the tabbar view being scrolling event if `preferredLayoutStyle` is fixed. I don't know if it is designed to do so !?

I'll keep this open until I have a bit of time to do a PR